
<h2>Lista de Presupuestos</h2>

<p>
    <a asp-controller="Presupuestos" asp-action="Create" class="btn btn-primary">Crear Nuevo Presupuesto</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID del Presupuesto</th>
            <th>Nombre del Destinatario</th>
            <th>Fecha de creacion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Presupuestos item in Model)
        {
            <tr>
                <td>@item.IdPresupuestos</td>
                <td>@item.NombreDestinatario</td>
                <td>@item.FechaCreacion.ToString("dd-MM-yyyy")</td>
                <td>
                    <a asp-controller="Presupuestos" asp-action="Details" asp-route-id="@item.IdPresupuestos" class="btn btn-warning">Detalles del presupuesto</a>
                    <a asp-controller ="Presupuestos" asp-action="Edit" asp-route-id="@item.IdPresupuestos" class="btn btn-danger">Editar</a>
                    <a asp-controller ="Presupuestos" asp-action="Delete" asp-route-id="@item.IdPresupuestos" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>